<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Workout Page</h1>
        <form action="/workouts/<%=workout.id%>?_method=PUT" method="POST">
    		<!--  NOTE: the form is pre-populated with values for the server-->
    		Workout Name: <input type="text" name="workout" value="<%=workout.workout%>"/><br/>
    		Reps: <input type="text" name="reps" value="<%=workout.reps%>"/><br/>
    		Weight: <input type="text" name="weight" value="<%=workout.weight%>"/><br/>
        Date: <input type="text" name="date" value="<%=workout.date%>"/><br/>
        Notes: <input type="text" name="notes" value="<%=workout.notes%>"/><br
            />
            <br/>
            <input type="submit" name="" value="Submit Workout"/>
        </form>
    </body>
</html>